/* Globar Styles */
img{
    max-width: 100%;
    vertical-align: middle;
}

/* Top Navigation */
.navBg{ 
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    background-color: transparent !important ;
}
.navBgScroll{
    -webkit-transition:background-color 400ms linear ;
    -moz-transition:background-color 400ms linear ;
    -o-transition:background-color 400ms linear ;
    transition:background-color 400ms linear ;
    background-color: #ffffff !important;
    box-shadow: 0px 8px 15px #b6b6b6;
}
.navLogo{
    font-family: 'Montserreat',sans-serif;
    font-weight: 500;
    color:#ffffff !important;
}
.navLogoScroll{
    font-family: 'Montserreat',sans-serif;
    font-weight: 500;
    color:#18A1C1 !important;
}
.navItem{
    color:#ffffff !important;
    font-family: 'Raleway',sans-serif;
    font-size: 18px !important;
}
.navItemScroll{
    color:#000 !important;
    font-family: 'Raleway',sans-serif;
    font-size: 18px !important;
}
.navItem:hover{
    color: tomato !important;
    transition: .3s;
}
.navItemScroll:hover{
    color: tomato !important;
    transition: .3s;
}

/* Top Fixed Banner */
.TopFixedBanner{
    background: url("../img/banner.jpg");
    min-height: 660px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.TopBannerOverlay{
    min-height: 660px;
    width:100%;
    background: rgba(0, 0, 0,0.7);
}
.Banner{
    margin-top: 12rem;
}
.BannerTitle{
    font-family: 'Montserreat',sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
}
.BannerSubTitle{
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}
.BannerLink,.bt-btn{
    background:tomato;
    display: inline-block;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    transition: .3s;
}
.BannerLink:hover{
    color:#333;
    background-color: #fff;
}

/* About */
.About{
    margin: 20rem 0 16rem;
}
.AboutTitle{
    color:red;
}
.AboutHeading{
    font-size: 47px;
    line-height: 55px;
    font-weight: 700;
    position: relative;
}
.AboutHeading span::before{
    content: '';
    width: 100px;
    height: 10px;
    position: absolute;
    top: 40px;
    right: 200px;
    background-color: rgb(242, 33, 33);
    z-index: -1;
}
.AboutSubHeading{
    font-size: 17px;
    font-weight: 400;
    margin-right: 20px;
    color: #707070;
    margin: 20px 0;
}
.AboutLinkOne{
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    margin-right: 1.25rem;
    color:#fff;
    background-color: #ff2d55;
    box-shadow: 8px 10px 12px #ddd;
    transition: .3s;
}
.AboutLinkOne:hover{
    background-color: #b21a36;
    color: #fff;
}
.AboutLinkTwo{
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    margin-right: 1.25rem;
    color:#fff;
    background-color: #00acee;
    box-shadow: 8px 10px 12px #ddd;
    transition: .3s;
}
.AboutLinkTwo:hover{
    background-color: #086e97;
    color: #fff;
}

.AboutImages{
    position: relative;
}
.img1{
    position: absolute;
    top: 0;
    right: -160px;
}
.img2{
    position: absolute;
    top: 160px;
    left: 0;
}
.AboutImageLink{
    padding: 15px 35px;
    background-color: #ff2d55;
    color: #fff;
    position: absolute;
    top: 460px;
    right: 0;
    transition: .3s;
    box-shadow: 8px 10px 12px #ddd;
}
.AboutImageLink:hover{
    background-color: #b21a36;
    color: #fff;
}

.AboutImages span{
    display: block;
    width: 110px;
    height: 110px;
    border: 20px solid #ff2d55;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 260px;
    animation: anime 4s linear infinite;
}
@keyframes anime{
    0%{transform: translateY(0);}
    50%{transform: translateY(20px);}
    100%{transform: translateY(0);}
}

/* Features */
.FeaturesBanner{
    background: url("../img/featureBanner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;
}
.FeaturesBannerOverlay{
    min-height: 500px;
    width:100%;
    background: rgba(0, 0, 0, 0.4);
}
.FeaturesContent{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.SingleCard{
    margin: 0;
    padding: 50px 0;
    background: url("../img/featureBanner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: white !important;
}
.SingleCard::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.SingleCard img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

/* Summary */
.SummaryBanner{
    background: url("../img/featureBanner2.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;
}
.SummaryBannerOverlay{
    min-height: 400px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.SingleSummary {
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.SummaryHeading{
    font-size: 100px;
    font-weight: 700;
}
.SummarySubHeading{
    font-size: 30px;
    font-weight: 600;
}
.col:nth-child(1) .SingleSummary .SummaryHeading{
    color: #fc002e;
}
.col:nth-child(2) .SingleSummary .SummaryHeading{
    color: #08b9ff;
}
.col:nth-child(3) .SingleSummary .SummaryHeading{
    color: #ffb820;
}
.col:nth-child(4) .SingleSummary .SummaryHeading{
    color: #a2fa27;
}
